.cac_small-calendar {
  width: 100%;
  background-color: rgb(243, 243, 243);
}
.fc-content {
  display: flex !important;
}
.cac_small-callendar_event{
  background-color: #585858;
  border: none !important;
}
.fc-event-container {
  width: 1rem !important;
}
.fc-other-month{
  background-color: rgb(226, 226, 226) !important;
}
.fc-day-header {
  font-size: 1.3rem !important;
  font-weight: 500;
  color: rgb(51, 51, 51);
}

.fc-day-top{
  font-size: .8rem !important;
  font-weight: 600;
  color: rgb(126, 126, 126);
}