.cac_attendance {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.cac_attendance_class {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "title code"
    "date code"
    "content speakers"
    "content speakers"
    "content speakers"
    "attendant attendant";
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .cac_attendance_class {
    padding: 0 1rem;
    grid-template-columns: 1fr 16rem;
    gap: 0.5rem;
  }
}

.cac_attendance_title {
  font-size: 3.2rem !important;
  font-weight: 600;
  grid-area: title;
  color: #242424;
  line-height: 3rem;
  align-self: end;
}
@media screen and (max-width: 1200px) {
  .cac_attendance_title {
    font-size: 2.8rem !important;
  }
}
@media screen and (max-width: 600px) {
  .cac_attendance_title {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 400px) {
  .cac_attendance_title {
    font-size: 2rem !important;
  }
}
.cac_attendance_speakers-container {
  grid-area: speakers;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.cac_attendance_speakers-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(36, 36, 36);
  margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .cac_attendance_speakers-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_attendance_speakers-title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  .cac_attendance_speakers-title {
    font-size: 1.3rem;
  }
}
.cac_attendance_speaker_user-box {
  margin-bottom: 0.6rem;
}

.cac_attendance_date {
  font-size: 1.6rem;
  line-height: 0.5rem;
  font-weight: 600;
  color: #484848;
  display: block;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .cac_attendance_date {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_attendance_date {
    font-size: 1.3rem;
  }
}

.cac_attendance_description-container {
  grid-area: content;
}

.cac_attendance_description-title {
  font-size: 3rem;
}
@media screen and (max-width: 1200px) {
  .cac_attendance_description-title {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_attendance_description-title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .cac_attendance_description-title {
    font-size: 2.2rem;
  }
}
.cac_attendance_description-text {
  font-size: 2rem;
}
@media screen and (max-width: 1200px) {
  .cac_attendance_description-text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_attendance_description-text {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 400px) {
  .cac_attendance_description-text {
    font-size: 1.5rem;
  }
}

.cac_attendance_attendant-container {
  margin-top: 3rem;
  border-top: 1.6px solid #484848;
  grid-area: attendant;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cac_attendance_attendant {
  margin: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .cac_attendance_attendant {
    margin: 0.2rem;
  }
}

.cac_attendance_code-container {
  padding: 1rem;
  border-radius: 3px;
  grid-area: code;
  text-align: center;
  margin-bottom: 0rem;
}
@media screen and (max-width: 600px) {
  .cac_attendance_code-container {
    padding: 0;
  }
}

.cac_attendance_code-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
@media screen and (max-width: 600px) {
  .cac_attendance_code-title {
    font-size: 1.4rem;
  }
}

.cac_attendance_code-code {
  font-size: 5rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  color: rgb(53, 53, 53);
}

@media screen and (max-width: 1200px) {
  .cac_attendance_code-code {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_attendance_code-code {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 400px) {
  .cac_attendance_code-code {
    font-size: 3rem;
  }
}
.cac_attendance_buttons {
  justify-content: center;
  display: flex;
}
.cac_attendance .cac_attendance_button {
  color: white;
  margin: 2rem 1rem;
  width: 20rem;
  text-align: center;
  font-size: 2.3rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .cac_attendance .cac_attendance_button {
    font-size: 2rem;
    width: 16rem;
    margin: 1rem 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .cac_attendance .cac_attendance_button {
    font-size: 1.8rem;
    width: 15rem;
  }
}
.cac_attendance .cac_attendance_add {
  background-color: #4a79c6;
}

.cac_attendance .cac_attendance_end {
  background-color: #ab1c21;
}
