
.cac_class-box {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 0 0 2px rgb(216, 216, 216);
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content min-content max-content;
  grid-template-areas: "title code" "date counter" "description options";
  gap: 0.5rem;
}
.cac_class-box:not(:last-child) {
  margin-bottom: 1rem;
}
.cac_class-box_title {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(60, 60, 60);
  grid-area: title;
}
@media screen and (max-width: 600px) {
  .cac_class-box_title {
    font-size: 1.8rem;
  }
}
.cac_class-box_date {
  grid-area: date;
  font-size: 1.5rem;
  color: rgb(60, 60, 60);
}
@media screen and (max-width: 600px) {
  .cac_class-box_date {
    font-size: 1.3rem;
  }
}

.cac_class-box_code {
  grid-area: code;
  margin: 0 auto;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .cac_class-box_code {
    font-size: 1.5rem;
  }
}

.cac_class-box_description {
  grid-area: description;
  font-size: 1.5rem;
}

.cac_class-box_counter {
  grid-area: counter;
  font-size: 1.3rem;
}
.cac_class-box_options{
  grid-area: options;
  text-align: center;
}

.cac_class-box_option{
  font-size: 1.2rem;
  color:rgb(97, 97, 97);
  transition: all .2s;
  font-weight: 500;
}

.cac_class-box_option:hover{
  cursor: pointer;
  color:black;
}