.cac_button {
  margin: 1rem auto;
  min-width: 5rem;
  padding: .5rem 2.5rem;
  background: white;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 2rem;
}
.cac_button:hover {
  cursor: pointer;
}
