.cac_attendance--not-in-class {
  min-height: 40rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30rem min-content;
}

.cac_attendance_form {
  --area-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cac_attendance_label {
  font-weight: 500;
  color: #484848;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.cac_attendance_text-area {
  width: var(--area-width);
  font-size: 4rem;
  height: 6rem;
  margin-bottom: 1rem;
  border: 2px solid #484848;
  text-align: center;
  outline: none !important;
  border-radius: 3px;
  transition: all 0.2s;
}

.cac_attendance_text-area--invalid {
  border: 2px solid #ab1c21;
}

.cac_attendance_form_button {
  width: var(--area-width);
  background-color: #4a79c6;

  color: white;
  border: 2px solid #4a79c6;
  border-radius: 3px;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.cac_attendance_button {
  background-color: #484848;
  color: white;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 3px;
}

.cac_attendance_classes {
  margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
  .cac_attendance_classes {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.cac_attendance_classes_title {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(80, 80, 80);
  display: block;
  margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
  .cac_attendance_classes_title {
    font-size: 2.6rem;
  }
}

.cac_attendance_class-box {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 0 0 2px rgb(216, 216, 216);
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content min-content max-content;
  grid-template-areas: "title code" "date counter" "description .";
  gap: 0.5rem;
}
.cac_attendance_class-box:not(:last-child) {
  margin-bottom: 1rem;
}
.cac_attendance_class_title {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(60, 60, 60);
  grid-area: title;
}
@media screen and (max-width: 600px) {
  .cac_attendance_class_title {
    font-size: 1.8rem;
  }
}
.cac_attendance_class_date {
  grid-area: date;
  font-size: 1.5rem;
  color: rgb(60, 60, 60);
}
@media screen and (max-width: 600px) {
  .cac_attendance_class_date {
    font-size: 1.3rem;
  }
}

.cac_attendance_classes_code {
  grid-area: code;
  margin: 0 auto;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .cac_attendance_classes_code {
    font-size: 1.5rem;
  }
}

.cac_attendance_classes_description {
  grid-area: description;
  font-size: 1.5rem;
}

.cac_attendance_classes_counter {
  grid-area: counter;
  font-size: 1.3rem;
}
