.cac_create {
  padding-right: 2rem;
}

.cac_create_header {
  display: grid;
  grid-template-columns: 20rem 1fr 30rem;
  grid-template-areas: "dropdown . preview";
  gap: 1rem;
  align-items: start;
  margin-bottom: 1rem;
}

.cac_create_dropdown {
  font-size: 1.6rem;
  color: red !important;
  font-weight: 600;
}
.Dropdown-control:hover {
  cursor: pointer;
}

.cac_create_dropdown--sections {
  grid-area: dropdown;
}

.cac_create_dropdown--drafts {
  grid-area: drafts;
}
.Dropdown-arrow {
  top: 50%;
  left: 100%;
  transform: translate(calc(-100% - 1rem), -50%);
}

.cac_create_preview {
  grid-area: preview;
  width: 16rem;
  background-color: #4a79c6;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.cac_create_post_button {
  grid-area: post;
  width: 16rem;
  background-color: #4a79c6;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
/* ------ Components -------- */

.cac_create_section {
  margin-bottom: 1rem;
}

.cac_create_input {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border: 1.5px solid #8f8f8f;
  box-shadow: 0 0 1px rgb(94, 94, 94);
  outline: none !important;
  border-radius: 0.3rem;
  transition: all 0.2s;
  display: block;
}
.cac_create_input:focus {
  border: 1.5px solid #707070;
  box-shadow: 0 0 3px rgb(94, 94, 94);
}

.cac_create_input--title {
  font-size: 2rem;
  width: 100%;
}

.cac_create_textarea {
  font: inherit;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1.6rem;
  border: 1.5px solid #8f8f8f;
  box-shadow: 0 0 1px rgb(94, 94, 94);
  outline: none !important;
  resize: vertical;
  border-radius: 0.3rem;
  display: block;
  transition: all 0.2s;
  min-height: 8rem;
}

.cac_create_textarea:focus {
  border: 1.5px solid #707070;
  box-shadow: 0 0 3px rgb(94, 94, 94);
}

.cac_create_title {
  font-size: 3rem;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: #484848;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.cac_create_button {
  background-color: #4a79c6;
  color: white;
  border-radius: 3px;
}
