.cac_top-rated_side {
  width: 100%;
  text-align: center;
}

.cac_top-rated_side_title {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.35px;
  margin-bottom: 1rem;
  display: block;
}
@media screen and (max-width: 1200px) {
  .cac_top-rated_side_title {
    font-size: 2rem;
  }
}
.cac_top-rated_side_user {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  display: grid;
  column-gap: 0.2rem;
  grid-template-columns: 3rem 1fr 3rem;
  justify-items: center;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
}
@media screen and (max-width: 1200px) {
  .cac_top-rated_side_user {
    font-size: 1.4rem;
  }
}
.cac_top-rated_side_user:hover {
  background-color: #e3f3f2;
  cursor: pointer;
}
.cac_top-rated_side_ranking {
  font-weight: 600;
  display: block;
}
.cac_top-rated_side_name {
  justify-self: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .cac_top-rated_side_name {
    font-size: 1.4rem;
  }
}
