/*------ editing fase -------*/
.cac_profile_buttons {
  grid-area: button;
}
.cac_profile_edit {
  width: 100%;
  background-color: #4a79c6;
  color: white;
  align-self: start;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.cac_profile_photo_edit {
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.6rem;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}
.cac_profile_photo_edit:hover {
  cursor: pointer;
  text-decoration: underline;
}
.cac_profile_edit-svg {
  height: 1.3rem;
  width: auto;
  margin-left: 1rem;
  margin-bottom: 1px;
  fill: rgb(102, 102, 102);
  transition: all 0.2s;
}

.cac_profile_edit-svg:hover {
  cursor: pointer;
  fill: black;
}
.cac_profile_description-editing {
  width: 100%;
  resize: vertical;
  outline: none !important;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: 1px solid rgb(216, 216, 216);
  transition: border 0.2s;
  min-height: 5rem;
  max-height: 20rem;
}
.cac_profile_description-editing:focus {
  border: 1px solid rgb(150, 150, 150);
}
.cac_profile_text-area {
  width: 50%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  padding-bottom: 0;
  height: 3rem;
  resize: none;
}
.cac_profile_cancel {
  background-color: #ab1c21;
}
