.cac_navigation {
  /* overflow: hidden; */
  --border-size: 2px;
  --padding-width-size: 1.6rem;
  --translatedY-hover: 1px;
  display: flex;
  position: relative;
}
.cac_navigation::before {
  content: "";
  width: calc(100% - var(--padding-width-size) * 2);
  height: calc(var(--border-size));
  border-radius: 1px;
  background-color: #a0c0d2;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(calc(var(--padding-width-size) + -50%), -50%);
}
.cac_section {
  color: #000000;
  font-size: 2rem;
  padding: 1rem var(--padding-width-size);
  font-weight: 500;
  position: relative;
  transition: all 0.2s;
  text-decoration: none;
}

.cac_section:hover {
  cursor: pointer;
  transform: translateY(calc(-1*var(--translatedY-hover)));
}

.cac_section::after {
  content: "";
  width: 80%;
  height: calc(var(--border-size) + .1rem);
  border-radius: .1rem;
  background-color: transparent;
  transition: all 0.2s;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cac_section.active::after {
  background-color: #123342 !important;
}

.cac_section:hover::after {
  background-color: #a0c0d2;
  transform: translate(-50%, calc(-50% + var(--translatedY-hover)));
}
.cac_section:not(:last-child) {
  margin-right: 2rem;
}
