.cac_navigation {
  /* overflow: hidden; */
  --border-size: 2px;
  --padding-width-size: 1.6rem;
  --translatedY-hover: 1px;
  display: flex;
  position: relative;
  height: 100%;
}

.cac_navigation::before {
  content: "";
  width: 100%;
  height: calc(var(--border-size));
  border-radius: 1px;
  background-color: #a0c0d2;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cac_section {
  color: #000000;
  font-size: 2.3rem;
  padding: 1rem 0;
  font-weight: 400;
  position: relative;
  transition: all 0.2s margin 0s;
  text-decoration: none;
}

.cac_section:hover::after {
  background-color: #a0c0d2;
  transform: translate(-50%, calc(-50% + var(--translatedY-hover)));
}
.cac_section:not(:last-child) {
  margin-right: 4rem;
}
@media screen and (max-width: 1200px) {
  .cac_section {
    font-size: 2.2rem;
    padding: 0;
  }
  .cac_section:not(:last-child) {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 980px) {
  .cac_section {
    font-size: 1.6rem;
    font-weight: 500;
    color:rgb(77, 77, 77);
  }
  .cac_section:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.cac_section:hover {
  cursor: pointer;
  transform: translateY(calc(-1 * var(--translatedY-hover)));
}

.cac_section::after {
  content: "";
  width: 100%;
  height: calc(var(--border-size) + 0.1rem);
  border-radius: 0.1rem;
  background-color: transparent;
  transition: all 0.2s;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cac_section.active::after {
  background-color: #123342 !important;
}

.cac_section--admin {
  color: #4a79c6;
}
