.cac_header_mobile {
  height: 100%;
  background-color: #4a79c6;
  grid-area: header;
  box-shadow: 0 1px 2px rgb(143, 143, 143);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 200;
}
.cac_header_mobile_logo {
  fill: rgb(30, 46, 77);
  height: 3.5rem;
  width: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Position and sizing of burger button */
.bm-burger-button {
  width: 22px;
  height: 18px;
  position: relative;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  display: block;
  height: 100%;
  z-index: 100;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.bm-menu-wrap {
  bottom: 0;
  left: 0;
}
.cac_header_mobile_item-container {
  position: relative;
}
.cac_header_mobile_item-container:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  background-color: #fff;
  transition: all 0.4s;
}
.cac_header_mobile_item-container:not(:last-child) {
  margin-bottom: 1rem;
}
.cac_header_mobile_item-container.active.cac_header_mobile_item-container:after {
  height: 80%;
  background-color: #4a79c6;
}

.cac_header_mobile_item {
  font-size: 2.6rem;
  display: block;
  border: none !important;
  text-decoration: none;
  outline: none !important;
  color: white;
  padding: 0.2rem 2rem;
}
.cac_header_mobile_user-photo {
  height: 3.4rem;
  border-radius: 10rem;
}
.cac_header_mobile_sign-in {
  font-size: 1.5rem;
  padding: 0.5rem 1.2rem;
  background-color: transparent;
  color: rgb(30, 46, 77);
  border: 1px solid rgb(30, 46, 77);
  border-radius: 3px;
  box-shadow: none !important;
}
