.cac_rank_name {
  font-size: 1.5rem;
}
.newbie {
  color: gray;
}
.pupil {
  color: rgb(136, 204, 34);
}
.apprentice {
  color: green;
}

.specialist {
  color: rgb(3, 168, 158);
}

.expert {
  color: blue;
}
.candidateMaster {
  color: rgb(170, 0, 170);
}
.master {
  color: rgb(255, 140, 0);
}
.internationalMaster {
  color: rgb(255, 140, 0);
}
.internationalMaster::first-letter {
  color: red;
}

.grandmaster {
  color: red;
}
.internationalGrandmaster {
  color: red;
}

.internationalGrandmaster::first-letter {
  color: rgb(255, 0, 255);
}

.legendaryGrandmaster {
  color: red;
}
.legendaryGrandmaster::first-letter {
  color: black;
}
