.cac_sign-in{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10rem;
}

.cac_sign-in_logo{
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 12.5rem;
  height: 7.2rem;
}

.cac_sign-in_container{
  width:30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border: 1px solid #afafaf;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

}


.cac_sign-in_input-container{
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width:100%;
  position: relative;
}

.cac_sign-in_label{
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}

.cac_sign-in_input{
  background: #FFFFFF;
  border: 1Px solid #b4b4b4;
  box-sizing: border-box;
  border-radius: 3px;
  height: 3rem;
  width:100%;
  outline: 0px solid white;
  transition: all .2s;
  padding-left: .8rem;
  font-size: 1.4rem;
  color: #111;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.cac_sign-in_input:focus{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.cac_sign-in_add{
  color: #387ADC;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  top:.5rem;
  left: 100%;
  transform: translateX(-100%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .2s;
}
.cac_sign-in_add:hover{
  cursor: pointer;
  color: rgb(27, 95, 197);

}
.cac_sign-in_button{
  font-size: 1.6rem;
  width:100%;
  text-align: center;
  padding-top: 0;
  margin-bottom: 1rem;
}
.cac_sign-in_span{
  color: #848484;
  font-weight: 4  00;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.cac_sign-in_social{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  height: 3rem;
  text-align: center;
  color: #484848;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  width:100%;
  margin-bottom: 1rem;
}

.cac_sign-in_social-logo{
  position: absolute;
  fill:white;
  left:3rem;
  height:2rem;
  top:50%;
  transform: translate(-50%,-50%);
}
.cac_sign-in_social--github{
  color: white;
  background-color: #333;
}
.cac_sign-in_social--facebook{
  background-color: #3b5998;
  color: white;
}