.cac_create_post {
  grid-area: component;
  display: flex;
  flex-direction: column;
  width:100%;
}

.cac_create_post_button {
  width: 16rem;
  padding: 1rem 0;
}

.cac_create_post_post {
  color: white;
  font-size: 3rem;
  display: block;
  margin: 0 auto;
  width: 16rem;
  text-align: center;
  background-color: #4a79c6;
}

.cac_create_post .cac_create_textarea{
  height: 20rem;
  min-height: 20rem;
}