.cac_create_post {
  grid-area: component;
  display: flex;
  width:100%;
}

.cac_create_post_button {
  width: 16rem;
  padding: 1rem 0;
}

.cac_create_post_post {
  background-color: #AB1C21;
  color: white;
  font-size: 3rem;
  display: block;
  margin: 0 auto;
  width: 16rem;
  text-align: center;
}
