.cac_user-side {
  --photo-size: 6rem;
  background-color: tomato;
  width: 100%;
  display: grid;
  grid-template-columns: var(--photo-size) 1fr;
  padding: 1rem;
}
.cac_user-side_photo {
  width: var(--photo-size);
  height: var(--photo-size);
  border-radius: 8px;
}

.cac_user-side_info {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-wrap: break-word;
  overflow: auto;
}
.cac_user-side_name {
  font-size: 2rem;
  font-weight: 500;
}

.cac_user-side_mail {
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  display: block;
}
