.cac_user-side {
  --photo-size: 7rem;
  width: 100%;
  display: grid;
  grid-template-columns: var(--photo-size) 1fr;
}
.cac_user-side_photo {
  width: var(--photo-size);
  height: var(--photo-size);
  border-radius: 8px;
}

.cac_user-side_info {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-wrap: break-word;
  overflow: auto;
}
.cac_user-side_name {
  font-size: 1.6rem;
  font-weight: 500;
}

.cac_user-side_mail {
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cac_user-side_name--link {
  color:black;
  text-decoration: none;
}

.cac_user-side_name--link:hover {
  text-decoration: underline;
}
