.cac_post {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(216, 216, 216);
  padding: 1rem;
  box-shadow: 0 0 2px rgb(216, 216, 216);
  transition: all 0.2s;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: visible;
}
@media screen and (max-width: 1200px) {
  .cac_post {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 980px) {
  .cac_post {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 800px) {
  .cac_post {
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  .cac_post {
    border-radius: 0;
  }
}

.cac_post--crop:hover {
  cursor: pointer;
  border: 1px solid rgb(180, 180, 180);
}

.cac_post_heading {
  display: grid;
  grid-template-columns: min-content 1fr 4rem;
  grid-template-areas: "photo data options";
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cac_post_heading_photo {
  width: 6rem;
  height: 6rem;
  grid-area: photo;
  border-radius: 0.5rem;
}
.cac_post_heading_photo:hover{
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .cac_post_heading_photo {
    width: 4rem;
    height: 4rem;
  }
}

.cac_post_text-container {
  display: flex;
  grid-area: data;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
}

.cac_post_title {
  width: 90%;
  font-size: 2.3rem;
  line-height: 130%;
  letter-spacing: 0.025rem;
  font-weight: 600;
  text-decoration: none;
  color: rgb(54, 54, 54);
  transition: all 0.2s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 980px) {
  .cac_post_title {
    font-size: 1.8rem;
  }
}

.cac_post_title--link:hover {
  text-decoration: underline;
  color: black;
}

.cac_post_author {
  font-size: 1.4rem;
  width: max-content;
}
.cac_post_author:hover{
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .cac_post_author {
    font-size: 1.2rem;
  }
}
.cac_post_author--link {
  text-decoration: none;
  color: black;
  width: max-content;
}
.cac_post_author--link:hover {
  text-decoration: underline;
}
.cac_post_date {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(46, 46, 46);
}
@media screen and (max-width: 980px) {
  .cac_post_date {
    font-size: 1rem;
  }
}

.cac_post_options {
  grid-area: options;
}

/*///////// Content ///////////*/
.cac_post_content {
  margin-left: 1rem;
  border-left: 0.2rem solid #a0c0d2;
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 1.6em !important;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .cac_post_content {
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_post_content {
    border: none;
    margin-left: 0;
    padding: 0;
  }
}


.cac_post_content > * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.cac_post_content--crop {
  --max-height: 33rem;
  max-height: var(--max-height);
  overflow: hidden;
  position: relative;
}

.cac_post_content--crop::after {
  position: absolute;
  top: var(--max-height);
  left: 0;
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(
    rgb(250, 250, 250, 0.3),
    rgba(100, 100, 100, 0.3)
  );
  transform: translateY(-100%);
}

.cac_post_interaction {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 60rem;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .cac_post_interaction {
    padding: 0;
  }
}
.cac_post_interaction-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  width: 14rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}
@media screen and (max-width: 600px) {
  .cac_post_interaction-box {
    padding: 0.5rem 0rem;
    width: 10rem;
  }
}
.cac_post_interaction-box:hover {
  background-color: rgb(240, 240, 240);
}

.cac_post_interaction-box:hover {
  cursor: pointer;
}

.cac_post_interaction-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(73, 73, 73);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@media screen and (max-width: 980px) {
  .cac_post_interaction-label {
    font-size: 1rem;
  }
}
.cac_post_icon {
  width: 2rem !important;
  height: auto;
  transition: all 0.2s;
  margin-right: 0.5rem;
  fill: transparent;
}

@media screen and (max-width: 980px) {
  .cac_post_icon {
    width: 1.6rem !important;
  }
}

.cac_post_heart {
  color: #ab1c21;
  stroke: currentColor;
}
.cac_post_heart--filled {
  fill: currentColor;
}
.cac_post_comment {
  color: #4a79c6;
  stroke: currentColor;
}

.cac_post_interaction-box--comment:hover .cac_post_comment {
  fill: currentColor;
}
.cac_post_bookmark {
  color: #fad306;
  stroke: currentColor;
}
.cac_post_bookmark--filled {
  fill: currentColor;
}



/*////// COMMENTARIES SECTION ////////*/
.cac_post_commentaries-section {
  width: 100%;
  padding: 0 2rem;
  height: auto;
  padding-bottom: 3rem;
  overflow-y:hidden ;
}
@media screen and (max-width: 980px) {
  .cac_post_commentaries-section {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_post_commentaries-section {
    padding: 0;
  }
}

.cac_post_create-commentary {
  padding-top: 0;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 980px) {
  .cac_post_create-commentary {
    margin-bottom: 0.5rem;
  }
}

.cac_post_interaction-counter {
  font-size: 1.3rem;
  margin-right: 0.6rem;
  font-weight: 600;
  color: rgb(66, 66, 66);
  transform: translateY(-1px);
}
@media screen and (max-width: 980px) {
  .cac_post_interaction-counter {
    font-size: 1rem;
  }
}

.cac_post_create-commentary_textarea {
  flex: 1;
  display: inline-block;
  height: 4rem;
  min-height: 4rem;
  resize: vertical;
  border-radius: 0.3rem;
  outline: none !important;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5rem;
  padding-left: 0.7rem;
}
@media screen and (max-width: 980px) {
  .cac_post_create-commentary_textarea {
    min-height: 3.5rem;
    height: 3.5rem;
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_post_create-commentary_textarea {
    min-height: 3rem;
    height: 3rem;
    font-size: 1.6rem;
  }
}

.cac_poist_create-commentary_button {
  padding: 0;
  text-align: center;
  width: 12rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  padding-top: 0.8rem;
  height: 4rem;
  background-color: #4a79c6;
  color: white;
}

@media screen and (max-width: 980px) {
  .cac_poist_create-commentary_button {
    width: 10rem;
    font-size: 1.4rem;
    padding-top: 0.7rem;
    height: 3.5rem;
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  .cac_poist_create-commentary_button {
    width: 8rem;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    height: 3rem;
    margin-left: 0.5rem;
  }
}
