.cac_post{
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  margin-bottom: 4rem;
}


.cac_post_heading{
  display: grid;
  grid-template-columns: min-content 1fr;
  gap:1rem;
  justify-content: center;
  align-items: center;
}

.cac_post_heading_photo{
  width: 6rem;
  height: 6rem;
  border-radius: .5rem;
}

.cac_post_text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cac_post_title{
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.2rem;
}

.cac_post_author{
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.cac_post_date{
  font-size: 1.2rem;
  font-weight: 600;
  color:rgb(46, 46, 46);
}

.cac_post_content{
  margin-left:1rem;
  border-left: .2rem solid #a0c0d2;
  padding-left: 2rem;
  
}

.cac_post pre {
  border-top: 2px solid #a0c0d2;
  border-bottom: 2px solid #a0c0d2;

  background-color: rgb(250, 250, 250) !important;
  font-size: 1.6rem !important;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: 1rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.cac_post_content{
  font-size: 1.6rem;
}
