.cac_post {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(216, 216, 216);
  padding: 1rem;
  box-shadow: 0 0 2px rgb(216, 216, 216);
  transition: all 0.2s;
}
.cac_post--crop:hover {
  cursor: pointer;
  border: 1px solid rgb(180, 180, 180);
}

.cac_post_heading {
  display: grid;
  grid-template-columns: min-content 1fr 3rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.cac_post_heading_photo {
  width: 6rem;
  height: 6rem;
  border-radius: 0.5rem;
}

.cac_post_text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cac_post_title {
  font-size: 2.3rem;
  letter-spacing: 0.025rem;
  font-weight: 600;
  line-height: 1.8rem;
  text-decoration: none;
  color: rgb(54, 54, 54);
  transition: all 0.2s;
}

.cac_post_title--link:hover {
  text-decoration: underline;
  color: black;
}

.cac_post_author {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.cac_post_date {
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 600;
  color: rgb(46, 46, 46);
}

.cac_post_content {
  margin-left: 1rem;
  border-left: 0.2rem solid #a0c0d2;
  padding-left: 2rem;
  padding-right: 1rem;
}
.cac_post_content--crop {
  --max-height: 33rem;
  max-height: var(--max-height);
  overflow: hidden;
  position: relative;
}

.cac_post_content--crop::after {
  position: absolute;
  top: var(--max-height);
  left: 0;
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(
    rgb(250, 250, 250, 0.3),
    rgba(100, 100, 100, 0.3)
  );
  transform: translateY(-100%);
}

.cac_post pre {
  border-top: 2px solid #a0c0d2;
  border-bottom: 2px solid #a0c0d2;

  background-color: rgb(250, 250, 250) !important;
  font-size: 1.6rem !important;
  padding-top: 0.5rem !important;
  padding-left: 1rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.cac_post_content {
  font-size: 1.6rem;
}

.cac_post_interaction {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cac_post_interaction-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  width: 12rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.cac_post_interaction-box:hover {
  background-color: rgb(240, 240, 240);
}

.cac_post_interaction-box:hover {
  cursor: pointer;
}

.cac_post_interaction-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(73, 73, 73);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.cac_post_icon {
  width: 2rem;
  height: auto;
  transition: all 0.2s;
  margin-right: 0.5rem;
}

.cac_post_heart {
  color: #ab1c21;
  stroke: currentColor;
  fill: white;
}
.cac_post_heart--filled {
  fill: currentColor;
}
.cac_post_comment {
  color: #4a79c6;
  stroke: currentColor;
  fill: white;
}

.cac_post_interaction-box--comment:hover .cac_post_comment {
  fill: currentColor;
}
.cac_post_bookmark {
  color: #fad306;
  stroke: currentColor;
  fill: white;
}
.cac_post_bookmark--filled {
  fill: currentColor;
}
.cac_post_commentaries-section {
  width: 100%;
  overflow: hidden;
  padding: 0 2rem;
}

.cac_post_create-commentary {
  padding-top: 0;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.cac_post_create-commentary_textarea {
  flex: 1;
  display: inline-block;
  height: 4rem;
  min-height: 4rem;
  resize: vertical;
  border-radius: 0.3rem;
  outline: none !important;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5rem;
  padding-left: 0.7rem;
}

.cac_poist_create-commentary_button {
  width: 12rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  padding-top: 0.8rem;
  height: 4rem;

  background-color: #4a79c6;
  color: white;
}
