.cac_side {
  position: sticky;
  grid-area: side;

  /* padding-left: 1rem; */
  box-sizing: border-box;
  padding-left: 0.1rem;
  padding-top: 1rem;
  z-index: 1;
}
.cac_side_sections {
  position: sticky;
  top: 1rem;
}
.cac_side_section {
  position: relative;
  padding: 1rem;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
  padding-bottom: 2rem;
  z-index: 0;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(216, 216, 216);
  padding: 1rem;
  box-shadow: 0 0 2px rgb(216, 216, 216);

}

.cac_side_section:not(:last-child){
  margin-bottom: 1rem;
}
