.cac_options {
  display: block;
  align-self: start;
  position: relative;
  grid-area: options;
}

.cac_options_icon {
  width: 100%;
  height: auto;
  fill: rgb(70, 70, 70);
  padding: 0 0.5rem;
  border-radius: 3px;
  transition: all 0.2s;
}
.cac_options_icon:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
.cac_options-container {
  position: absolute;
  width: 20rem;
  /* height: 20rem; */
  background-color: rgb(252, 252, 252);
  top: 100%;
  left: 100%;
  transform: translateX(-100%) translateY(0rem);
  border-radius: 0.3rem;
  padding: 0;
  z-index: 100;
  box-shadow: 0px 1px 2px rgb(54, 54, 54);
  border: 1px solid rgb(143, 143, 143);
  font-size: 1.6rem;
}
.cac_options_section {
  padding: 0.5rem 0;
}

.cac_options_section:not(:last-child) {
  border-bottom: 1px solid rgb(173, 173, 173);
}
.cac_options_option {
  padding: 0.8rem 2rem;
  transition: all 0.2s;
  display: block;
  text-decoration: none;
  color: black;
}
.cac_options_option:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(90, 90, 90);
}