.cac_home {
  width: 100%;
  position: relative;
}
.cac_home_background-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 39, 39, 0.6);
  z-index: 200;
  padding: 5rem;
  padding-top: 10rem;
  overflow-y: scroll;
}
.cac_home_post-container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;

}
